@using Finance.Domain;
@model IEnumerable<Barsi>

<link href="~/css/Views/CalculationOfTheBarsi.css" rel="stylesheet" />

<h1 class="text-center display-4">Como Calcular a Fórmula de Barsi em Ações</h1>
<p>A Fórmula de Barsi, criada por Luiz Barsi, é uma metodologia para avaliar o potencial de retorno de uma ação com base no seu dividend yield (DY). O objetivo é identificar ações que possam proporcionar uma renda passiva consistente por meio de dividendos.</p>

<h2>Fórmula de Barsi</h2>
<p>A fórmula de Barsi foca no Dividend Yield (DY) e pode ser expressa como:</p>
<pre>
        DY = (Dividendos Anuais / Preço da Ação) x 100
    </pre>

<h2>Passos para Calcular a Fórmula de Barsi:</h2>
<ol>
    <li>
        <strong>Identificar os Dividendos Anuais:</strong>
        <p>Verifique os dividendos pagos por ação nos últimos 12 meses. Esta informação geralmente está disponível no site de relações com investidores da empresa ou em plataformas financeiras.</p>
    </li>
    <li>
        <strong>Preço da Ação:</strong>
        <p>Considere o preço atual da ação no mercado.</p>
    </li>
    <li>
        <strong>Calcular o Dividend Yield (DY):</strong>
        <p>Use a fórmula para calcular o DY:</p>
        <pre>
                DY = (Dividendos Anuais por Ação / Preço da Ação) x 100
            </pre>
        <p>Por exemplo, se uma empresa pagou R$ 5,00 em dividendos por ação no último ano e o preço atual da ação é R$ 50,00:</p>
        <pre>
                DY = (5 / 50) x 100 = 10%
            </pre>
    </li>
</ol>

<h2>Considerações Importantes:</h2>
<ul>
    <li><strong>Histórico de Dividendos:</strong> Prefira empresas com um histórico consistente de pagamento de dividendos.</li>
    <li><strong>Setor da Empresa:</strong> Alguns setores são conhecidos por pagar dividendos mais altos, como energia elétrica, bancos e seguradoras.</li>
    <li><strong>Sustentabilidade dos Dividendos:</strong> Verifique se a empresa tem capacidade de manter ou aumentar os dividendos no futuro, olhando para a saúde financeira da empresa e suas perspectivas de crescimento.</li>
</ul>

<h2>Exemplo Prático:</h2>
<p>Suponha que você esteja avaliando a empresa XYZ S.A.:</p>
<ul>
    <li>Dividendos pagos nos últimos 12 meses: R$ 3,00 por ação</li>
    <li>Preço atual da ação: R$ 30,00</li>
</ul>
<p>Cálculo do Dividend Yield:</p>
<pre>
        DY = (3 / 30) x 100 = 10%
    </pre>
<p>Isso significa que, ao preço atual, a ação está oferecendo um retorno de 10% ao ano em dividendos.</p>

<h2>Ferramentas Úteis:</h2>
<ul>
    <li><strong>Plataformas Financeiras:</strong> Utilize plataformas como <a href="https://www.infomoney.com.br">InfoMoney</a>, <a href="https://www.statusinvest.com.br">Status Invest</a>, e <a href="https://www.fundamentus.com.br">Fundamentus</a> para encontrar informações detalhadas sobre dividendos e preços das ações.</li>
    <li><strong>Relatórios de Análise:</strong> Leia relatórios de analistas financeiros que frequentemente incluem projeções de dividendos futuros.</li>
</ul>

<h2 class="text-center display-4">Ranking:</h2>

<h5 class="text-end" style="font-weight: 200;"><strong>Total de ativos, Ações, Bdrs e Fiis @Model.Count() localizados</strong></h5>

<h2>Filtrar</h2>
<input type="text" id="filtroInput" onkeyup="filtrarTabela()" placeholder="Digite para filtrar...">

<h2>Opções</h2>
<h2>Tipos de papéis:</h2>
<ul>
    <li><strong>BDR:</strong> São certificados que representam ações emitidas por empresas em outros países.</li>
    <li><strong>FII:</strong> Uma comunhão de recursos destinados à aplicação em ativos relacionados ao mercado imobiliário.</li>
    <li><strong>STOCK:</strong> Ações, representa a menor parcela do capital social das sociedades anônimas ou companhias.</li>
</ul>
<button id="filtroOrderByKindBdr" name="filtroOrderByKindBdr" class="btn btn-primary btn-sm">Bdr</button>
<button id="filtroOrderByKindFii" name="filtroOrderByKindFii" class="btn btn-primary btn-sm">Fii</button>
<button id="filtroOrderByKindStock" name="filtroOrderByKindStock" class="btn btn-primary btn-sm">Stock</button>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" id="ordenarPorYieldDesc" name="ordenarPorYieldDesc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-up fa-fw" aria-hidden="true"></i>
        </button>
    <button type="button" class="btn btn-primary btn-sm">Yield</button>
    <button type="button" id="ordenarPorYieldAsc" name="ordenarPorYieldAsc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-down fa-fw" aria-hidden="true"></i>
    </button>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" id="ordenarPorPriceDesc" name="ordenarPorPriceDesc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-up fa-fw" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-primary btn-sm">Preço</button>
    <button type="button" id="ordenarPorPriceAsc" name="ordenarPorPriceAsc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-down fa-fw" aria-hidden="true"></i>
    </button>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" id="ordenarPorResultDesc" name="ordenarPorResultDesc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-up fa-fw" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-primary btn-sm">Resultado</button>
    <button type="button" id="ordenarPorResultAsc" name="ordenarPorResultAsc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-down fa-fw" aria-hidden="true"></i>
    </button>
</div>

<button id="cleanModel" name="cleanModel" class="btn btn-primary btn-sm">Limpar Filtros</button>

<div id="tabelaContainer">

    @Html.Partial("_TabelaBarsi", Model)

</div>

<script>
    var model = @Html.Raw(Json.Serialize(Model));

    function updateModelAndRender(url) {
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(model)
        })
            .then(response => response.json())
            .then(updatedModel => {
                model = updatedModel; // Atualize o modelo com a resposta do servidor
                renderTable(model);
            })
            .catch(error => console.error('Error:', error));
    }

    function renderTable(updatedModel) {
        fetch('/CalculationOfTheBarsi/RenderTable', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(updatedModel)
        })
            .then(response => response.text())
            .then(html => {
                document.getElementById("tabelaContainer").innerHTML = html;
            })
            .catch(error => console.error('Error:', error));
    }

    function cleanModelAndRender() {
        fetch('/CalculationOfTheBarsi/Clean')
            .then(response => response.json())
            .then(cleanedModel => {
                model = cleanedModel; // Atualize o modelo com o modelo limpo
                renderTable(model);
            })
            .catch(error => console.error('Error:', error));
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("ordenarPorYieldAsc").addEventListener("click", function () {
            updateModelAndRender('/CalculationOfTheBarsi/OrderByAscendingYield');
        });

        document.getElementById("ordenarPorYieldDesc").addEventListener("click", function () {
            updateModelAndRender('/CalculationOfTheBarsi/OrderByDescendingYield');
        });

        document.getElementById("filtroOrderByKindFii").addEventListener("click", function () {
            updateModelAndRender('/CalculationOfTheBarsi/OrderByKindFii');
        });

        document.getElementById("filtroOrderByKindStock").addEventListener("click", function () {
            updateModelAndRender('/CalculationOfTheBarsi/OrderByKindStock');
        });

        document.getElementById("filtroOrderByKindBdr").addEventListener("click", function () {
            updateModelAndRender('/CalculationOfTheBarsi/OrderByKindBdr');
        });

        document.getElementById("ordenarPorResultAsc").addEventListener("click", function () {
            updateModelAndRender('/CalculationOfTheBarsi/OrderByAscendingResult');
        });

        document.getElementById("ordenarPorResultDesc").addEventListener("click", function () {
            updateModelAndRender('/CalculationOfTheBarsi/OrderByDescendingResult');
        });

        document.getElementById("ordenarPorPriceAsc").addEventListener("click", function () {
            updateModelAndRender('/CalculationOfTheBarsi/OrderByAscendingPrice');
        });

        document.getElementById("ordenarPorPriceDesc").addEventListener("click", function () {
            updateModelAndRender('/CalculationOfTheBarsi/OrderByDescendingPrice');
        });

        document.getElementById("cleanModel").addEventListener("click", function () {
            cleanModelAndRender();
        });
    });
</script>