@{
    ViewData["Title"] = "Finanças - Home Page";
}

<div class="text-start">
    <h1 class="text-center display-4">Análise Técnica ou Fundamentalista? Qual a Melhor?</h1>
    <div class="content-box m-top3">
        <p style="font-weight: 400;">Muito se tem falado sobre o uso conjugado das Análises Fundamentalista e Técnica.</p>
        <p style="font-weight: 400;">Seria o néctar dos deuses, pois uma escola teoricamente diria&nbsp;<em>o que</em>&nbsp;comprar e a outra diria&nbsp;<em>quando</em>&nbsp;comprar. Pelo menos, é isso que tem sido pregado no mercado como dogma irrefutável.</p>
        <p style="font-weight: 400;">É claro que não somos os primeiros a tentar fazer a conjugação das duas escolas. Em um mercado que existe deforma organizada a mais de 100 anos em países com uma economia muito mais desenvolvida que a nossa, seria de surpreender se até agora ninguém tivesse conseguido pensar sobre isso.</p>
        <p style="font-weight: 400;">Mas por quê não ouvimos falar em ninguém que tenha conseguido fazer a junção das duas escolas eficientemente?</p>
        <p style="font-weight: 400;">Por quê ainda existiria até os dias de hoje uma briga entre as duas escolas de pensamento, se somos capazes de enxergar que existe uma lógica muito racional por trás das duas teorias?</p>
        <p style="font-weight: 400;">Se fosse tão fácil assim, porquê em 200 anos essa “briga” não acabou?</p>
        <h3 class="display-4 text-center">Análise Técnica ou Fundamentalista – Introdução:</h3>
        <p>Entender as diferenças e particularidades de cada tipo de análise é muito importante para conseguir traçar uma&nbsp;<b>boa&nbsp;</b><a href="https://akeloo.com.br/blog/estrategia-de-investimentos-como-fazer/"><b>estratégia de investimentos</b></a>, pois o planejamento otimiza as operações.</p>
        <p>Apesar de as duas análises serem diferentes e apresentarem fundamentos diferentes, elas podem, sim,&nbsp;<b>ser usadas juntas</b>; afinal, o objetivo de ambas é tentar entender os movimentos futuros do mercado e o impacto disso nos ativos negociados na bolsa. Cabe ao investidor, portanto, decidir como conciliar as duas em uma mesma estratégia.</p>
        <p>Se você quer conhecer mais sobre esse tema, basta continuar a leitura. Neste texto vamos explorar os seguintes tópicos:</p>
        <ul>
            <li aria-level="1">Análise técnica ou fundamentalista: qual escolher?</li>
            <li aria-level="1">A análise técnica</li>
            <li aria-level="1">A análise fundamentalista</li>
        </ul>
        <div class="text-center">
            <img src="~/img/otimizado.png" />
        </div>
        <h3 class="text-center display-4 fusion-responsive-typography-calculated" data-fontsize="48" data-lineheight="57.6px"><span id="análise_técnica_ou_fundamentalista_qual_escolher?">Análise técnica ou fundamentalista: qual escolher?</span></h3>
        <p>O objetivo em comum dos dois tipos de análise é<b>&nbsp;estudar os movimentos de mercado</b>&nbsp;com a intenção de entender como as ações de uma determinada empresa irão se comportar no futuro.</p>
        <p>Enquanto a análise técnica usa da observação de&nbsp;<b>gráficos</b>, a análise fundamentalista foca no estudo geral de diversos&nbsp;<b>aspectos financeiros e econômicos da empresa</b>&nbsp;emissora das ações para determinar os resultados no médio e longo prazo.</p>
        <p>Mas qual é melhor? Isso depende de você, do seu&nbsp;<a href="https://akeloo.com.br/perfil-do-investidor/">perfil de investidor</a>&nbsp;e da quantidade de tempo que você tem para se dedicar aos seus investimentos.</p>
        <p>Que tal conhecer mais detalhes sobre cada uma para então decidir qual estratégia é mais positiva para alcançar seus objetivos?</p>
        <h3 style="font-weight: 400;"><strong>1) Axiomas básicos:</strong></h3>
        <p text-transform: uppercase;>A Escola Técnica diz que tudo que se sabe sobre o Mercado está refletido nos preços dos papéis.</p>
        <p>A Escola Fundamentalista diz que existem ineficiências no Mercado e que podemos arbitrar em cima do desconhecimento e perspectivas alheias.</p>
        <p>Constatação prática – O mercado é razoavelmente eficiente na maioria das vezes, mas sofre de algumas ineficiências principalmente quando determinadas ações estão fora de moda, não são seguidas por grandes bancos e investidores institucionais, e quando mercado exagera no seu animo tanto para cima quanto para baixo.</p>
        <h3 style="font-weight: 400;"><strong>2) Princípios básicos</strong></h3>
        <p><strong>Escola Técnica</strong>&nbsp;diz que o Mercado se move em tendências e que a “tendência é sua amiga”. É importante saber o que o mercado está fazendo agora, e tentar tira o melhor proveito disso. Ou o mercado está com tendência de alta ou o mercado está em tendência de baixa, (além, é claro, de&nbsp;sub-movimentos&nbsp;intermediários dependendo do período de tempo considerado) e que esses movimentos tendem a se repetir.</p>
        <p>Diversas metodologias de mensuração são retiradas de duas variáveis básicas: preço e volume e, secundariamente, de padrões gráficos. Eles podem ser osciladores, rastreadores, figuras, médias,&nbsp;candles, simetria&nbsp;sanfonada,&nbsp;Fibonacci, as ondas de&nbsp;Eliott&nbsp;e diversas outras ferramentas, algumas preferidas por alguns, e outra por outros. Com isso seria possível, de uma forma genérica, fazer o “Market&nbsp;Timing”. Entrar em um movimento de alta e sair em um movimento de correção de baixa.</p>
        <p><strong>A Escola Fundamentalista</strong>&nbsp;prega que os lucros e fluxo de caixa livre das excelentes empresas se movem em tendências, e que uma empresa que está indo bem continuará indo bem. Considera que o Mercado é aleatório e que ninguém pode prever, na prática, o que ele vai acontecer no futuro. Ele avalia as ações em um aspecto básico. Ou determinada ação está cara, (abaixo do seu preço justo) ou determinada ação está barata (acima de seu preço justo), em relação a dividendos que o acionista vai receber no futuro, em relação ao lucro da empresa ou em relação ao seu fluxo de caixa livre.</p>
        <p>A isso se chama de “Market&nbsp;Pricing”. Os investidores Fundamentalistas procuram verificar se existe uma margem de, pelo menos, 50% como Margem de segurança a seu favor antes de comprar um papel.</p>
        <p><u>Constatação Prática</u>: Depende do seu horizonte de aplicação.</p>
        <ul style="font-weight: 400;">
            <li>É possível sim, no curto prazo, e até mesmo no longo prazo, que o Mercado se mova em tendências, isso é verdade, e acontece sim, a maior parte do tempo. Mas, em que tendência se concentrar? De curto prazo ou no longo prazo? É possível nos beneficiarmos dos padrões antes deles terem ocorrido?</li>
        </ul>
        <ul style="font-weight: 400;">
            <li>Mas refutamos o ditado popular que diz que num mercado com tendência de alta tudo sobe e no mercado de baixa tudo desce.</li>
        </ul>
        <ul style="font-weight: 400;">
            <li>Qual o seu horizonte de aplicação? Você precisa do dinheiro? Você não pode ficar sem mexer naquele dinheiro de 3 a 5 anos ?-&gt; Renda Fixa ou análise técnica deve ser a sua escolha, somos enfáticos. Você pode ficar sem o dinheiro por mais de cinco anos, você conseguiria ver os papéis oscilarem sem achar que você não teria ficado mais pobre porquê não realizou o prejuízo? -&gt; Você é um possível candidato à análise fundamentalista.</li>
        </ul>
        <ul style="font-weight: 400;">
            <li>Querer empresa com lucros crescentes por mais de cinco anos elimina quase 80% das ações do Mercado. Você se contentaria com uma gama de empresas tão pequenas para poder operar?</li>
        </ul>
        <h3 style="font-weight: 400;"><strong>3) Proteção</strong></h3>
        <p style="font-weight: 400;">Com a&nbsp;<em>análise técnica</em>&nbsp;é possível se proteger de um mercado de baixa. Elas utilizam os “Stops” que os retiram do Mercado de baixa. (preços normalmente colocados abaixo da linha de suporte que venderiam o papel caso ele caísse abaixo daquele valor).</p>
        <p style="font-weight: 400;">Na análise fundamentalista o investidor se protege através da alocação de ativos. Ele possui pelo menos 50% em Renda Fixa a maior parte do tempo. Aproveita o mercado de baixa para comprar mais, aumentando a sua posição em Renda Variável e; no Mercado de alta para vender quando julga que o Mercado esta&nbsp;sobreavaliado.</p>
        <p style="font-weight: 400;"><u>Constatação prática</u>: Para fazer&nbsp;Stop&nbsp;o papel precisa ter liquidez. Alguns alegam que não colocam&nbsp;stops&nbsp;e&nbsp;decidem&nbsp;“na hora” o que fazer. Mas será que você vai poder ir ao banheiro? Almoçar então, nem pensar. Querer uma ação com lucros constantes e ainda com liquidez? Seu percentual cai de 20% para 7%. Há, você ainda quer abaixo do seu preço justo? Mostre-me uma! Normalmente essas ações cabem na palma de uma (ou duas) mão(s).</p>
        <p style="font-weight: 400;">Quanto de dinheiro você tem? Dá para fazer alocação de ativos? Você tem separado o dinheiro das despesas do dia-a-dia?</p>
        <h3 style="font-weight: 400;"><strong>4) Mercados de Baixa</strong></h3>
        <p>No mercado de Baixa os adeptos da&nbsp;<em>análise técnica</em>&nbsp;ficam fora do Mercado, ou operam apenas em situações especiais, pois são “stopados”. Ficam aguardando uma reversão para reentrar.</p>
        <p>Num mercado de baixa os&nbsp;<em>investidores fundamentalistas</em>&nbsp;aumentam a sua posição em ações&nbsp;rebalanceando&nbsp;seu&nbsp;portfólio&nbsp;fazendo com que a sua alocação de ativos fique novamente em 50 x 50%, ou aumentando ainda mais a sua alocação em Renda Variável.</p>
        <p><u>Constatação prática</u>: quer juntar as duas teorias? Como fazer se quando um está vendendo o outro está comprando? Você compra na reversão.</p>
        <p>Está bem, mas e se cair de novo? Você vai vender sabendo que está com 70% de desconto com uma jóia da coroa da economia Brasileira? Há você quer operara apenas com ações de bons fundamentos, independente do seu desconto? Isso seria análise técnica com Blue Chips e não uma mistura das duas análises. E agora José?</p>
        <h3 style="font-weight: 400;"><strong>5) Mercado de Alta</strong></h3>
        <p>Os investidores técnicos aproveitam para comprar papéis já que eles estão entrando, em sua maioria, em novos patamares de preço e com volume.</p>
        <p>Os investidores fundamentalistas não encontram o que comprar já que nada no Mercado parece ter margem de segurança suficiente para compra.</p>
        <p><u>Constatação prática</u>: Qual a escola você vai abandonar num mercado de alta? Aqui vemos talvez a única prática da união das duas escolas quando uma ação tiver ficando&nbsp;muito sobreavaliada e dispor de muita liquidez é possível, em situações muito especiais, colocar um “stop&nbsp;loss” na ação. Mas uma coisa importante, esse papel já deveria ter sido comprado no mercado de baixa com pelo menos 50% de desconto. Você conseguiu fazer isso?</p>
        <h3 style="font-weight: 400;"><strong>6) Tempo para acompanhar o Mercado</strong></h3>
        <p style="font-weight: 400;">Você consegue ficar o tempo todo acompanhando o Mercado?</p>
        <p>A escola Técnica exige que você fique praticamente o dia todo acompanhando o mercado no Micro. Mesmo que você opere&nbsp;intraday,&nbsp;mês,etc.. Você vai entrar num programa “Big&nbsp;Brother”. Você já deu a sua olhadinha hoje?</p>
        <p>A escola fundamentalista exige muita preparação antes de comprar uma ação, mas pouca durante o dia-a-dia do Mercado. Mas não quer dizer que exija pouco esforço, talvez até mais: muito conhecimento de matemática financeira, contabilidade, análise de balanços,&nbsp;Valuation, leitura de demonstrativos a cada três meses e uma geral no final do ano….ufa, periódicos especializados.</p>
        <p><u>Constatação prática</u>: Conheça a si mesmo. Quem é você? Uma pessoa competitiva? Focado no curto-prazo? Você é competitivo ou é uma pessoa mais analítica. Você é impulsivo e passional ou é arquitetado e sangue frio?</p>
        <p>Quanto tempo você tem disponível para ficar acompanhando o mercado durante o horário comercial? Você tem um emprego fora do mercado? Dá para fazer as duas coisas ao mesmo tempo e não ser despedido?</p>
            <div class="text-center">
                <img decoding="async" alt="ANÁLISE TÉCNICA X ANÁLISE FUNDAMENTALISTA - Os Melhores Investimentos - Melhores Ações - Os Melhores Investimentos" data-src="https://www.osmelhoresinvestimentos.com.br/wp-content/uploads/2018/09/AN%C3%81LISE-T%C3%89CNICA-X-AN%C3%81LISE-FUNDAMENTALISTA-Os-Melhores-Investimentos-Melhores-A%C3%A7%C3%B5es.jpg" class="aligncenter lazyloaded" src="https://www.osmelhoresinvestimentos.com.br/wp-content/uploads/2018/09/AN%C3%81LISE-T%C3%89CNICA-X-AN%C3%81LISE-FUNDAMENTALISTA-Os-Melhores-Investimentos-Melhores-A%C3%A7%C3%B5es.jpg"><noscript><img decoding="async" class="aligncenter" src="https://www.osmelhoresinvestimentos.com.br/wp-content/uploads/2018/09/AN%C3%81LISE-T%C3%89CNICA-X-AN%C3%81LISE-FUNDAMENTALISTA-Os-Melhores-Investimentos-Melhores-A%C3%A7%C3%B5es.jpg" alt="ANÁLISE TÉCNICA X ANÁLISE FUNDAMENTALISTA - Os Melhores Investimentos - Melhores Ações - Os Melhores Investimentos" /></noscript>
            </div>
        <h3 style="font-weight: 400;"><strong>Conclusão e recomendação</strong>:</h3>
        <p>Ao longo do texto você pôde descobrir as diferenças entre as análises técnica e fundamentalista.</p>
        <p>Enquanto a técnica é baseada na observação de gráficos e considera apenas esses dados numéricos, a análise fundamentalista considera, igualmente, as informações sobre a empresa e sobre o mercado como um todo. De qualquer forma, as duas têm um objetivo em comum: estudar os movimentos de mercado para entender como as ações de uma determinada empresa irão se comportar no futuro.</p>
        <p style="font-weight: 400;">Como tudo na vida a resposta para a pergunta qual a melhor escola é: depende. Depende da sua situação financeira, das suas qualidades pessoais, do seu estado de espírito, da sua capacidade, do seu tempo disponível e determinação. Querer tirar proveito das duas escolas, é querer achar que podemos fazer o que muitos até agora não conseguiram. Tentar juntar as duas escolas é abrir mão do melhor que cada uma tem e não maximizar as possibilidades de cada uma delas. E aquele que não sabe o que faz no mercado, acaba sempre do mesmo jeito: Com prejuízo.</p>
        <p style="font-weight: 400;">Conheça primeiro a você mesmo. Conheça as suas qualidades, capacidades e limitações. É preciso ganhar primeiro de si mesmo para depois poder ganhar do Mercado.</p>
    </div>
</div>
