@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model MensagemContato
@{
    ViewData["Title"] = "Finanças - Home Page";
    var siteKey = Configuration["GoogleReCaptcha:SiteKey"];
}

<link href="~/css/home.css" rel="stylesheet" />

<div class="container-fluid gtco-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    Análise <span>Técnica ou Fundamentalista</span>? Qual a Melhor?
                </h1>
                <p style="text-align: justify;"> Muito se tem falado sobre o uso conjugado das Análises Fundamentalista e Técnica. </p>
                <a href="#">Saber mais <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-6">
                <div class="card"><img class="card-img-top img-fluid" src="images/banner-img.png" alt=""></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gtco-feature" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="cover">
                    <div class="card">
                        <svg class="back-bg"
                             width="100%" viewBox="0 0 900 700" style="position:absolute; z-index: -1">
                            <defs>
                                <linearGradient id="PSgrad_01" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                                    <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1" />
                                    <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1" />
                                </linearGradient>
                            </defs>
                            <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_01)"
                                  d="M616.656,2.494 L89.351,98.948 C19.867,111.658 -16.508,176.639 7.408,240.130 L122.755,546.348 C141.761,596.806 203.597,623.407 259.843,609.597 L697.535,502.126 C748.221,489.680 783.967,441.432 777.751,392.742 L739.837,95.775 C732.096,35.145 677.715,-8.675 616.656,2.494 Z" />
                        </svg>
                        <!-- *************-->

                        <svg width="100%" viewBox="0 0 700 500">
                            <clipPath id="clip-path">
                                <path d="M89.479,0.180 L512.635,25.932 C568.395,29.326 603.115,76.927 590.357,129.078 L528.827,380.603 C518.688,422.048 472.661,448.814 427.190,443.300 L73.350,400.391 C32.374,395.422 -0.267,360.907 -0.002,322.064 L1.609,85.154 C1.938,36.786 40.481,-2.801 89.479,0.180 Z"></path>
                            </clipPath>
                            <!-- xlink:href for modern browsers, src for IE8- -->
                            <image clip-path="url(#clip-path)" xlink:href="images/learn-img.jpg" width="100%"
                                   height="465" class="svg__image"></image>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h2>
                    Análise Técnica ou Fundamentalista – Introdução:
                </h2>
                <p style="text-align: justify;">Entender as diferenças e particularidades de cada tipo de análise é muito importante para conseguir traçar uma&nbsp;<b>boa&nbsp;</b>estratégia de investimentos, pois o planejamento otimiza as operações.</p>
                <p style="text-align: justify;">Apesar de as duas análises serem diferentes e apresentarem fundamentos diferentes, elas podem, sim,&nbsp;<b>ser usadas juntas</b>; afinal, o objetivo de ambas é tentar entender os movimentos futuros do mercado e o impacto disso nos ativos negociados na bolsa. Cabe ao investidor, portanto, decidir como conciliar as duas em uma mesma estratégia.</p>
                <a href="#">Saber mais <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gtco-features" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>
                    Análise técnica ou fundamentalista: <br />
                    qual escolher?
                </h2>
                <p style="text-align: justify;">O objetivo em comum dos dois tipos de análise é<b>&nbsp;estudar os movimentos de mercado</b>&nbsp;com a intenção de entender como as ações de uma determinada empresa irão se comportar no futuro.</p>

                <a href="#">Saber mais <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-lg-8">
                <svg id="bg-services"
                     width="100%"
                     viewBox="0 0 1000 800">
                    <defs>
                        <linearGradient id="PSgrad_02" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                            <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1" />
                            <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1" />
                        </linearGradient>
                    </defs>
                    <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_02)"
                          d="M801.878,3.146 L116.381,128.537 C26.052,145.060 -21.235,229.535 9.856,312.073 L159.806,710.157 C184.515,775.753 264.901,810.334 338.020,792.380 L907.021,652.668 C972.912,636.489 1019.383,573.766 1011.301,510.470 L962.013,124.412 C951.950,45.594 881.254,-11.373 801.878,3.146 Z" />
                </svg>
                <div class="row">
                    <div class="col">
                        <div class="card text-center">
                            <div class="oval"><img class="card-img-top" src="images/web-design.png" alt=""></div>
                            <div class="card-body">
                                <h3 class="card-title">Axiomas básicos</h3>
                                <p style="text-align: justify;" class="card-text">A Escola Técnica diz que tudo que se sabe sobre o Mercado está refletido nos preços dos papéis.</p>
                            </div>
                        </div>
                        <div class="card text-center">
                            <div class="oval"><img class="card-img-top" src="images/marketing.png" alt=""></div>
                            <div class="card-body">
                                <h3 class="card-title">Princípios básicos</h3>
                                <p style="text-align: justify;" class="card-text">Escola Técnica &nbsp;diz que o Mercado se move em tendências e que a “tendência é sua amiga”.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="oval"><img class="card-img-top" src="images/seo.png" alt=""></div>
                            <div class="card-body">
                                <h3 class="card-title">Proteção</h3>
                                <p style="text-align: justify;" class="card-text">Com a&nbsp;<em>análise técnica</em>&nbsp;é possível se proteger de um mercado de baixa. Elas utilizam os “Stops” que os retiram do Mercado de baixa. (preços normalmente colocados abaixo da linha de suporte que venderiam o papel caso ele caísse abaixo daquele valor).</p>
                            </div>
                        </div>
                        <div class="card text-center">
                            <div class="oval"><img class="card-img-top" src="images/graphics-design.png" alt=""></div>
                            <div class="card-body">
                                <h3 class="card-title">Mercados de Baixa</h3>
                                <p style="text-align: justify;" class="card-text">No mercado de Baixa os adeptos da&nbsp;<em>análise técnica</em>&nbsp;ficam fora do Mercado, ou operam apenas em situações especiais, pois são “stopados”. Ficam aguardando uma reversão para reentrar.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form id="form-mensagem-contato" name="form-mensagem-contato" method="post">
                    <input type="hidden" id="recaptchaResponse" name="recaptchaResponse" value="@siteKey" />
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <input asp-for="Nome" id="nome" name="nome" type="text" class="form-control form-control-sm" placeholder="Nome">
                               <span class="error" id="nomeError">Por favor, insira um nome válido.</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <input asp-for="Email" id="email" name="email" type="email" class="form-control form-control-sm" placeholder="Email">
                            <span class="error" id="emailError">Por favor, insira um email válido.</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <textarea asp-for="Mensagem" id="mensagem" name="mensagem" class="form-control form-control-sm" placeholder="Mensagem"></textarea>
                            <span class="error" id="mensagemError">Por favor, insira uma mensagem válida.</span>
                        </div>
                    </div>
                    <div>

                    </div>
                    <div class="g-recaptcha" data-sitekey="@siteKey"></div>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    
    <script>

        $(document).ready(function () {
            // Validação em tempo real do campo Nome para aceitar apenas letras
            $("#nome").on("input", function () {
                var nome = $(this).val();
                if (!/^[a-zA-Z\s]*$/.test(nome)) {
                    $("#nomeError").show();
                    $(this).addClass("input-error");
                } else {
                    $("#nomeError").hide();
                    $(this).removeClass("input-error");
                }
            });

            // Validação em tempo real do campo Email para garantir que contenha "Arroba"
            $("#email").on("input", function () {
                var email = $(this).val();
                console.log(email); // Adicione esta linha
                if (email.indexOf("@@") === -1) {
                    $("#emailError").show();
                    $(this).addClass("input-error");
                } else {
                    $("#emailError").hide();
                    $(this).removeClass("input-error");
                }
            });

            // Validação do formulário ao enviar
            $("#form-mensagem-contato").on("submit", function (event) {
                event.preventDefault(); // Evita o envio do formulário padrão

                var valid = true;

                // Validação do campo Nome
                var nome = $("#nome").val() || "";
                if (!/^[a-zA-Z\s]+$/.test(nome.trim()) || nome.trim() === "") {
                    $("#nomeError").show();
                    $("#nome").addClass("input-error");
                    valid = false;
                } else {
                    $("#nomeError").hide();
                    $("#nome").removeClass("input-error");
                }

                // Validação do campo Email
                var email = $("#email").val() || "";
                if (email.indexOf("@@") === -1 || email.trim() === "") {
                    $("#emailError").show();
                    $("#email").addClass("input-error");
                    valid = false;
                } else {
                    $("#emailError").hide();
                    $("#email").removeClass("input-error");
                }

                // Validação do campo Mensagem
                var mensagem = $("#mensagem").val() || "";
                if (!/^[a-zA-Z\s]+$/.test(mensagem.trim()) || mensagem.trim() === "") {
                    $("#mensagemError").show();
                    $("#mensagem").addClass("input-error");
                    valid = false;
                } else {
                    $("#mensagemError").hide();
                    $("#mensagem").removeClass("input-error");
                }

                if (valid) {

                    // Obter o valor do reCAPTCHA
                    var recaptchaResponse = grecaptcha.getResponse();

                    // Enviar os dados do formulário usando AJAX
                    var formData = {
                        nome: $("#nome").val(),
                        email: $("#email").val(),
                        mensagem: $("#mensagem").val(),
                        "g-recaptcha-response": recaptchaResponse
                    };

                    $.ajax({
                        url: '@Url.Action("SubmitForm", "Home")',
                        type: 'POST',
                        data: formData,
                        success: function (response) {
                            if (response.success) {

                                // Mensagem de sucesso
                                Swal.fire({
                                    title: 'Sucesso!',
                                    text: response.message,
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                });

                                // Limpar campos da página de sucesso
                                $("#nome").val('');
                                $("#email").val('');
                                $("#mensagem").val('');
                            } else {
                                // Verificar se errors está definido antes de usar join
                                if (response.errors) {
                                    Swal.fire({
                                        title: 'Oops...',
                                        text: response.errors.join(", "),
                                        icon: 'error',
                                        confirmButtonText: 'OK'
                                    });
                                } else {
                                    Swal.fire({
                                        title: 'Oops...',
                                        text: response.message,
                                        icon: 'error',
                                        confirmButtonText: 'OK'
                                    });
                                }
                            }
                        },
                        error: function () {
                            alert("Ocorreu um erro ao enviar o formulário. Tente novamente.");
                        }
                    });
                }
            });
    });

    </script>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
