@model IEnumerable<BestStocksToInvestIn>

@if (Model != null)
{
    <h5 class="text-end" style="font-weight: 200;"><strong>Total de analises realizadas: @Model.Count() localizados</strong></h5>
    <h6 class="text-end" style="font-weight: 100;">
        <strong>
            Data e hora da última atualização
            @{
                var updatedAtString = Model.FirstOrDefault()?.UpdatedAt;
                if (!string.IsNullOrEmpty(updatedAtString))
                {
                    DateTime updatedAt;
                    if (DateTime.TryParse(updatedAtString, out updatedAt))
                    {
                        @updatedAt.ToString("dd/MM/yyyy HH:mm:ss")
                    }
                    else
                    {
                        @:Formato de data inválido
                    }
                }
                else
                {
                    @:Data não disponível
                }
            }
        </strong>
    </h6>

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                @Html.Raw(item.Details)
            }
        }
        else
        {
            <h5>Falta banco de dados!</h5>
        }

}