@model IEnumerable<Active>

@if (Model != null)
{
    <h5 class="text-end" style="font-weight: 200;"><strong>Total de Ações @Model.Count() localizados</strong></h5>
}

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" id="ordenarPorPriceDesc" name="ordenarPorPriceDesc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-up fa-fw" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-primary btn-sm">Preço R$</button>
    <button type="button" id="ordenarPorPriceAsc" name="ordenarPorPriceAsc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-down fa-fw" aria-hidden="true"></i>
    </button>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" id="ordenarPorChangeLastDayDesc" name="ordenarPorChangeLastDayDesc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-up fa-fw" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-primary btn-sm">Mudança dia %</button>
    <button type="button" id="ordenarPorChangeLastDayAsc" name="ordenarPorChangeLastDayAsc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-down fa-fw" aria-hidden="true"></i>
    </button>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" id="ordenarPorLastDayVariationDesc" name="ordenarPorLastDayVariationDesc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-up fa-fw" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-primary btn-sm">Variação dia R$</button>
    <button type="button" id="ordenarPorLastDayVariationAsc" name="ordenarPorLastDayVariationAsc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-down fa-fw" aria-hidden="true"></i>
    </button>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" id="ordenarPorYieldLastTwelveMonthsPercentageDesc" name="ordenarPorYieldLastTwelveMonthsPercentageDesc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-up fa-fw" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-primary btn-sm">Yield 12 meses %</button>
    <button type="button" id="ordenarPorYieldLastTwelveMonthsPercentageAsc" name="ordenarPorYieldLastTwelveMonthsPercentageAsc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-down fa-fw" aria-hidden="true"></i>
    </button>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" id="ordenarPorYieldLastTwelveRealMonthsDesc" name="ordenarPorYieldLastTwelveRealMonthsDesc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-up fa-fw" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-primary btn-sm">Yield 12 meses R$</button>
    <button type="button" id="ordenarPorYieldLastTwelveRealMonthsAsc" name="ordenarPorYieldLastTwelveRealMonthsAsc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-down fa-fw" aria-hidden="true"></i>
    </button>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" id="ordenarPorMarketValueDesc" name="ordenarPorMarketValueDesc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-up fa-fw" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-primary btn-sm">Valor de mercado R$</button>
    <button type="button" id="ordenarPorMarketValueAsc" name="ordenarPorMarketValueAsc" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-arrow-down fa-fw" aria-hidden="true"></i>
    </button>
</div>

<div id="tabelaContainer">

    @Html.Partial("_TabelaFund", Model)

</div>

<script>

    var model = @Html.Raw(Json.Serialize(Model));

    function updateModelAndRender(url) {
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(model)
        })
            .then(response => response.json())
            .then(updatedModel => {
                model = updatedModel; // Atualize o modelo com a resposta do servidor
                renderTable(model);
            })
            .catch(error => console.error('Error:', error));
    }

    function renderTable(updatedModel) {
        fetch('/RealEstateInvestmentFund/RenderTable', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(updatedModel)
        })
            .then(response => response.text())
            .then(html => {
                document.getElementById("tabelaContainer").innerHTML = html;
            })
            .catch(error => console.error('Error:', error));
    }

    function cleanModelAndRender() {
        fetch('/RealEstateInvestmentFund/Clean')
            .then(response => response.json())
            .then(cleanedModel => {
                model = cleanedModel; // Atualize o modelo com o modelo limpo
                renderTable(model);
            })
            .catch(error => console.error('Error:', error));
    }

    document.addEventListener("DOMContentLoaded", function () {

        document.getElementById("ordenarPorPriceAsc").addEventListener("click", function () {
            updateModelAndRender('/RealEstateInvestmentFund/OrderByAscendingPrice');
        });

        document.getElementById("ordenarPorPriceDesc").addEventListener("click", function () {
            updateModelAndRender('/RealEstateInvestmentFund/OrderByDescendingPrice');
        });

        document.getElementById("ordenarPorChangeLastDayAsc").addEventListener("click", function () {
            updateModelAndRender('/RealEstateInvestmentFund/OrderByAscendingChangeLastDay');
        });

        document.getElementById("ordenarPorChangeLastDayDesc").addEventListener("click", function () {
            updateModelAndRender('/RealEstateInvestmentFund/OrderByDescendingChangeLastDay');
        });

        document.getElementById("ordenarPorLastDayVariationAsc").addEventListener("click", function () {
            updateModelAndRender('/RealEstateInvestmentFund/OrderByAscendingLastDayVariation');
        });

        document.getElementById("ordenarPorLastDayVariationDesc").addEventListener("click", function () {
            updateModelAndRender('/RealEstateInvestmentFund/OrderByDescendingLastDayVariation');
        });

        document.getElementById("ordenarPorYieldLastTwelveMonthsPercentageAsc").addEventListener("click", function () {
            updateModelAndRender('/RealEstateInvestmentFund/OrderByAscendingYieldLastTwelveMonthsPercentage');
        });

        document.getElementById("ordenarPorYieldLastTwelveMonthsPercentageDesc").addEventListener("click", function () {
            updateModelAndRender('/RealEstateInvestmentFund/OrderByDescendingYieldLastTwelveMonthsPercentage');
        });

        document.getElementById("ordenarPorYieldLastTwelveRealMonthsAsc").addEventListener("click", function () {
            updateModelAndRender('/RealEstateInvestmentFund/OrderByAscendingYieldLastTwelveRealMonths');
        });

        document.getElementById("ordenarPorYieldLastTwelveRealMonthsDesc").addEventListener("click", function () {
            updateModelAndRender('/RealEstateInvestmentFund/OrderByDescendingYieldLastTwelveRealMonths');
        });

        document.getElementById("ordenarPorMarketValueAsc").addEventListener("click", function () {
            updateModelAndRender('/RealEstateInvestmentFund/OrderByAscendingMarketValue');
        });

        document.getElementById("ordenarPorMarketValueDesc").addEventListener("click", function () {
            updateModelAndRender('/RealEstateInvestmentFund/OrderByDescendingMarketValue');
        });

    });
</script>